/.idea
/node_modules/
*.rdb
*.iml
/config/local.json
/config/local-*.json
.DS_Store
/docs/coverage/
.nyc_output/

# files pulled by actions, no check in
helm-docs
.github/kubeval
k8s/helm-chart/redis-commander/example.values.yaml
