<table class="table">
  <thead>
    <th>Value</th>
  </thead>
  <tbody>
    <% members.forEach(function(member) { %>
      <tr>
        <td><%= member %></td>
      </tr>
    <% }) %>
  </tbody>
 </table>
