<form id="editStringForm" action="/apiv1/key/<%= key %>" method="POST" class="form-vertical">
  <label>Value</label>
  <textarea id="stringValue" name="stringValue" style="width: 600px; height: 300px;"></textarea>

  <br>
  <button id="saveKeyButton" onclick="$('#editStringForm').submit()">Save</button>
</form>