<div id="itemActionsBar">
  <% if (!redisReadOnly) { %>
  <button class="btn" onclick="addKey('<%= connectionId %>')" style="margin-right: 5px">Add New Key...</button>
  <% } %>
  <button class="btn btn-danger" onclick="removeServer('<%= connectionId %>')" style="margin-right: 5px">Disconnect</button>
</div>
<div id="itemData">
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <% info.forEach(function(infoItem) { %>
    <tr>
      <td><%= infoItem.key %></td>
      <td><%= infoItem.value %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>
