body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .brand {
  padding: 0 0 0 20px;
}

#sideBar {
  position: fixed;
  top: 40px;
  left: 5px;
  width: 250px;
  border-right: 1px solid #DDD;
  z-index: 1;
}

#sidebarResize {
  position: absolute;
  top: 0;
  right: -11px;
  height: 100%;
  width: 1px;
  background-color: transparent;
  border: 10px solid transparent;
  cursor: col-resize;
}

#keyTree {
  overflow: scroll;
  margin-right: 10px;
}

#keyTreeActions {
  margin-bottom: 5px;
  margin-top: 5px;
}

#itemData {
  overflow: scroll;
  margin-top: 40px;
}

#body {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 250px;
  margin-left: 30px;
}

#itemActionsBar {
  position: fixed;
  top: 0;
  left: 250px;
  margin-left: 30px;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

#commandLineContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1039;
}

#commandLineContainer .btn-group {
    white-space: normal;
}

#commandLineContainer form {
  margin: 0;
}

#commandLineContainer input {
  margin: 0;
  box-shadow: none;
  width: 900px;
}

#commandLineContainer label {
  color: #888;
  font-size: 12px;
  padding-left: 15px;
  font-family: Menlo, "monospace","Courier New";
}

#commandLineContainer .btn {
  font-size: 13px;
}

.prompt {
  color: #888;
  font-size: 12px;
  padding-left: 15px;
  font-family: Menlo, "monospace","Courier New";
}

#commandLineOutput {
  height: 320px;
  font-size: 12px;
  display: none;
  padding-left: 15px;
  font-family: Menlo, "monospace","Courier New";
  overflow: scroll;
}

#commandLine input {
  outline: none;
  border: 0;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  font-family: Menlo, "monospace","Courier New";
}

.autocompletePopup {
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.autocompletePopup div {
  padding: 5px;
  cursor: pointer;
}

.autocompletePopup .selected {
  color: #fff;
  background-color: #00f;
}

.commandLineCommand {
  font-weight: bold;
}

#lockCommandButton {
  position: absolute;
  right: 20px;
  top: 10px;
}

#pageNav {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-bottom: 0;
}

#lockCommandButton.disabled {
  opacity: 0.2;
}

#lockCommandButton.disabled:hover {
  opacity: 0.4;
}

.select-disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.show-vertical-scroll {
  cursor: row-resize;
}

#redisCommandsModal {
  overflow: hidden;
}

#redisCommandsModal .modal-body {
  background-color: transparent;
  padding: 0;
  overflow: hidden;
}

#redisCommandsModal iframe {
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 400px;
}

#redisCommandsClose {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  z-index: 99999;
}

#redisCommandsClose:hover {
  color: white;
}

#redisCommandsExternal {
  color: white;
  opacity: 0.2;
  position: absolute;
  top: 14px;
  left: 150px;
  z-index: 99999;
}

#redisCommandsExternal:hover {
  opacity: 0.4;
  text-decoration: none;
}

#addServerContainer {
  padding-left: 20px;
}

#scoreWrap, #fieldWrap {
  display: none;
}

#scoreWrap > input, #fieldWrap > input {
  margin-bottom: 10px;
}

#vakata-contextmenu {
  background: white !important;
  border-radius: 5px;
}

#vakata-contextmenu li ins {
  margin-top: 2px;
  margin-left: 20px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.btn-mini .caret {
  margin-top: 5px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#importData {
  width: 97%;
  height: 300px;
}

.modal .form-horizontal, .modal .form-vertical {
  margin: 0;
}

.label-big .lead {
  margin-bottom: 10px;
  margin-top: 10px;
}

#signinForm {
  margin: 0;
}

#addKeyForm {
  margin: 0;
}

.modal-content-width {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 15px);
}

.control-group input, .control-group select{
  margin-bottom: 0;
}

.validate-negative, .validate-negative:focus {
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 0 6px #ff1a1a;
}

.validate-positive, .validate-positive:focus {
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 6px #87d738;
}

.redisDumpSelect {
  min-width: 230px;
  width: auto;
}
/* without explicit z-index tree and contextmenu marged into one layer, preventing clicks
   must be larger than command line z-index
 */
.jstree-contextmenu {
  z-index: 1100;
}
