#sideBar {
    position: fixed;
    top: 60px;
    width:250px;
    border-right:1px solid #DDD;
}

#keyTree {
    overflow: scroll;
    resize:horizontal;
}

#keyTreeActions {
    margin-bottom: 5px;
}

#itemData {
    margin-top: 32px;
}

.jstree-default.jstree-focused {
    background: #fff !important;
}

#body {
    position:relative;
    overflow-y:scroll;
    overflow-x:hidden;
    left:250px;
    margin-left:30px;
}

#itemActionsBar {
    position: fixed;
    top: 0px;
    left:250px;
    margin-left:30px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
@media (max-width: 979px){
    #itemActionsBar{
        margin-top:60px;
    }
}

#commandLineContainer {
    position: fixed;
    bottom: 0;
    left:0;
    background-color: #fff;
    width: 100%;
    z-index: 1039;
}

#commandLineContainer form {
    margin: 0;
}

#commandLineContainer input {
    margin: 0;
    box-shadow: none;
    width: 900px;
}

.prompt {
    color: #888;
    font-size: 12px;
    padding-left:15px;
    font-family: Menlo, "monospace";
}

#commandLineOutput {
    height: 320px;
    font-size: 12px;
    display: none;
    padding-left:15px;
    font-family: Menlo, "monospace";
    overflow: scroll;
}

#commandLine {
}

#commandLine input {
    outline: none;
    border: 0;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    font-family: Menlo, "monospace";
}

.autocompletePopup {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.autocompletePopup div {
    padding: 5px;
    cursor: pointer;
}

.autocompletePopup .selected {
    color: #fff;
    background-color: #00f;
}

.commandLineCommand {
    font-weight: bold;
}

#lockCommandButton{
    position:absolute;
    right:10px;
    top:10px;
}

#lockCommandButton.disabled{
    opacity:0.2;
}
#lockCommandButton.disabled:hover{
    opacity:0.4;
}