<div class="container">
  <div class="row">
    <div class="span3">
      <div id="keyTree"></div>
    </div>
    <div class="span9" id="body">

    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    loadTree();
  });
</script>