<div id="app-container">
  <div>
    <div id="sideBar">
      <div id="keyTreeActions">
        <button class="btn btn-success btn-mini" onclick="refreshTree()">Refresh</button>
        <button class="btn btn-primary btn-mini" data-toggle="modal" href="#redisCommandsModal">Commands</button>
      </div>
      <div id="keyTree"></div>
      <div id="sidebarResize"></div>
    </div>

    <div id="body">

    </div>
  </div>
</div>
<div id="commandLineContainer">
  <div id="commandLineBorder" style="border-top: 1px solid #ddd;padding-bottom: 5px;"></div>
  <i id="lockCommandButton" class="icon-lock disabled"></i>
  <div id="commandLineOutput"></div>
  <div id="commandLine"></div>
</div>
<div id="redisCommandsModal" class="modal hide fade">
  <a id="redisCommandsExternal" target="_blank" href="http://redis.io/commands">Open in new window</a>
  <button id="redisCommandsClose" type="button" class="close" data-dismiss="modal">×</button>
  <div class="modal-body">
    <iframe seamless="seamless" src="http://redis.io/commands">test</iframe>
  </div>
</div> 
<script type="text/javascript">
  $(function () {
    loadTree();
    loadConfig();
    loadCommandLine();
    setupResizeEvents();
    setupCommandLock();
    setupCLIKeyEvents();
    $('.container').removeClass('container');
    $('html').css('overflow-y','hidden');
    $('#pageIndex').live('keydown',function(e){
      if(e.keyCode == 13){
        $('#gotoIndexButton').click();
      }
    });
    $('#redisCommandsModal').modal({
      backdrop:false,
      keyboard:false,
      show:false
    });
  });
</script>