<!DOCTYPE html>
<html>
<head>
  <title>Redis Commander: <%= title %></title>
  <script type="text/javascript">
    <% if (typeof jwtToken === 'string') { %>sessionStorage.setItem('jwtToken', '<%= jwtToken %>');<% } %>
    <% if (typeof refreshToken === 'string') { %>sessionStorage.setItem('refreshToken', '<%= refreshToken %>');<% } %>
    location.href = '<%= redirectUrl %>';
  </script>
</head>
<body></body>
</html>
