<div class="container">
  <div class="row">
    <div class="span3" id="sideBar">
      <div id="keyTreeActions">
        <button class="btn btn-success btn-mini" onclick="refreshTree()">Refresh</button>
      </div>
      <div id="keyTree"></div>
    </div>
    <div class="span9" id="body">

    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    loadTree();
    $(window).on('resize', resizeTree);
    resizeTree();
  });
</script>