<div class="container">
  <form action="/login" method="POST">
    <label>Hostname</label>
    <input type="text" name="hostname" value="localhost">

    <label>Port</label>
    <input type="text" name="port" value="6379">

    <br>
    <input type="submit" value="Login" class="btn">
  </form>
</div>
