<div id="addKeyModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Key</h3>
  </div>
  <div class="modal-body">
    <form id="addKeyForm" action="apiv2/key/" method="POST" class="form-vertical">
      <div class="control-group">
        <label class="control-label" for="keyValue">Key</label>
        <div class="controls">
          <input id="keyValue" type="text" value="" class="modal-content-width"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="keyType">Type</label>
        <div class="controls">
          <select id="keyType" name="keyType">
            <option value="string">String</option>
            <option value="list">List</option>
            <option value="set">Set</option>
            <option value="zset">Sorted Set</option>
            <option value="hash">Hash</option>
          </select>
        </div>
      </div>
      <span id="scoreWrap" class="control-group">
        <label class="control-label" for="keyScore">Score</label>
        <input id="keyScore" name="keyScore" class="input-mini" type="text"/>
      </span>
      <span id="fieldWrap" class="control-group">
        <label class="control-label" for="newFieldName">Field</label>
        <input id="newFieldName" name="fieldName" class="modal-content-width" type="text"/>
      </span>
      <div class="control-group" style="display:inline;">
        <div class="controls">
        </div>
      </div>
      <label class="control-label" for="newStringValue">Value</label>
      <textarea id="newStringValue" name="stringValue" class="modal-content-width" style="height: 200px;"></textarea>
      <label class="checkbox"><input type="checkbox" id="addKeyIsJson" name="isJson">Validate as JSON</label>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button id="saveKeyButton" type="button" class="btn btn-primary" onclick="$('#addKeyForm').submit()">Save</button>
  </div>
</div>
<script>
  $('#addKeyModal').on('hidden', function() {
      removeInputValidator('newStringValue');
  })
</script>
