<div id="editSetMemberModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit Set Member</h3>
  </div>
  <div class="modal-body">
    <form id="editSetMemberForm" action="apiv2/set/member/edit" method="POST" class="form-vertical">
      <input id="setKey" name="key" type="hidden"/>
      <label class="control-label" for="setOldMember">Member</label>
      <input id="setOldMember" name="oldValue" type="text" class="modal-content-width" readonly/>
      <label class="control-label" for="setMember">Updated Member</label>
      <textarea id="setMember" name="value" class="modal-content-width" style="height: 150px;"></textarea>
      <label class="checkbox"><input type="checkbox" id="setMemberIsJson" name="isJson">Validate as JSON</label>
      <input id="setConnectionId" name="connectionId" type="hidden"/>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button id="removeSetMemberButton" class="btn btn-danger" data-loading-text="<i class='icon-refresh'></i> Removing..." onclick="removeSetElement()">Remove Member</button>
    <button id="editSetMemberButton" class="btn btn-primary" data-loading-text="<i class='icon-refresh'></i> Saving..." onclick="$('#editSetMemberForm').trigger('submit')">Save</button>
  </div>
</div>
<script>
  setupEditDataModals('editSetMemberForm', 'editSetMemberButton');
  setupJsonInputValidator('setMemberIsJson', 'setMember');
  registerModalFocus('editSetMemberModal', 'setMember');
</script>
