<div id="editXSetMemberModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Edit(Remove) Stream Entry</h3>
    <h4 style="color:red">Info: You can only add and remove entries to a stream</h4>
  </div>
  <div class="modal-body">
    <!-- <form id="editXSetMemberForm" action="apiv2/xset/member/edit" method="PUT" class="form-vertical"> -->
    <!-- NOTE: Redis Streams: can only add and delete entries, not edit them -->
    <form id="editXSetMemberForm" action="apiv2/xset/member/delete" method="POST" class="form-vertical">
      <label class="control-label" for="xSetKey">Key</label>
      <input id="xSetKey" name="key" type="text" class="modal-content-width" readonly/>

      <label class="control-label" for="xSetTimestamp">Timestamp</label>
      <input id="xSetTimestamp" name="timestamp" type="text" readonly/>

      <label class="control-label" for="xSetField">Field</label>
      <textarea id="xSetField" name="field" class="modal-content-width" style="height: 80px;" readonly></textarea>
      <label class="checkbox"><input type="checkbox" id="xSetFieldIsJson" name="isJson">Validate as JSON</label>

      <label class="control-label" for="xSetValue">Value</label>
      <textarea id="xSetValue" name="value" class="modal-content-width" style="height: 80px;" readonly></textarea>
      <label class="checkbox"><input type="checkbox" id="xSetValueIsJson" name="isJson">Validate as JSON</label>

      <input id="xSetOldValue" name="oldValue" type="hidden"/>
      <input id="xSetConnectionId" name="connectionId" type="hidden"/>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <button id="removeXSetValueButton" class="btn btn-danger" data-loading-text="<i class='icon-refresh'></i> Removing..." onclick="removeXSetElement()">Remove Entry</button>
    <!-- <button id="editXSetValueButton" class="btn btn-primary" data-loading-text="<i class='icon-refresh'></i> Saving..." onclick="$('#editXSetMemberForm').submit()">Save</button> -->
  </div>
</div>
<script>
  // setupEditDataModals('editXSetMemberForm', 'editXSetValueButton');
  setupEditDataModals('editXSetMemberForm', 'removeXSetValueButton');
  setupJsonInputValidator('xSetValueIsJson', 'xSetValue');
  setupJsonInputValidator('xSetFieldIsJson', 'xSetField');
</script>
