<!-- IMPORT MODAL -->
<div class="modal hide fade" id="redisImportModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Import data</h3>
  </div>
  <div class="modal-body">
    <form action="#" class="form-horizontal">
      <textarea name="dump"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a type="submit" onclick="addServer()" class="btn btn-primary">Import</a>
  </div>
</div>
<!-- /IMPORT MODAL -->