<div id="signinModal" class="modal hide fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>Sign In</h3>
  </div>
  <form id="signinForm" class="form-vertical">
  <div class="modal-body">
      <div class="form-group">
        <label for="signinUsername">Username:</label>
        <input type="text" class="form-control" id="signinUsername" autofocus/>
      </div>
      <div class="form-group">
        <label for="signinPassword">Password:</label>
        <input type="password" class="form-control" id="signinPassword" />
      </div>
  </div>
  <div class="modal-footer">
    <button id="signinButton" type="button" class="btn btn-primary" data-loading-text="<i class='icon-refresh'></i> Signing-In...">Sign In</button>
  </div>
  </form>
</div>

<script type="text/javascript">
$(function() {
  $('#signinButton').click(function() {
    $.post('signin', {
      "username": $('#signinUsername').val(),
      "password": $('#signinPassword').val()
    }, function (data, status) {
      $('#signinUsername').val('');
      $('#signinPassword').val('');
      if ((status !== 'success') || !data || !data.ok) {
        return alert("Sign-In Failed");
      }
      sessionStorage.setItem('redisCommanderBearerToken', data.bearerToken);
      sessionStorage.setItem('redisCommanderQueryToken', data.queryToken);
      $(window).unbind('beforeunload');
      location.reload();
    })
    .fail(function(err) {
      $('#signinUsername').val('');
      $('#signinPassword').val('');
      console.error("Failed", err);
      return alert("Failed to send request");
    })
  });
})
</script>

