<!DOCTYPE html>
<html>
<head>
  <title>Redis Commander: <%= title %></title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
  <link rel="stylesheet" href="css/default.css"/>
  <link rel="stylesheet" href="jstree/themes/default/style.min.css"/>
  <link rel="stylesheet" href="json-tree/jsontree.css"/>

  <script src="browserify.js"></script>
  <script src="scripts/jquery-2.2.4.js"></script>
  <script src="jstree/jstree.js"></script>
  <script src="clipboard/clipboard.min.js"></script>
  <script src="json-tree/jsontree.min.js"></script>
  <script src="scripts/jquery.form.js"></script>
  <script src="scripts/jquery.resize.min.js"></script>
  <script src="scripts/ejs.js"></script>
  <script src="dateformat/dateformat.js"></script>
  <script src="scripts/redisCommander.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="./"><img src="images/RedisCommandLogo.png"/></a>
      <ul class="nav">
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <%- body %>
</div>
  <% include modals/addListValueModal %>
  <% include modals/addSetMemberModal %>
  <% include modals/addZSetMemberModal %>
  <% include modals/addHashFieldModal %>
  <% include modals/editZSetMemberModal %>
  <% include modals/editSetMemberModal %>
  <% include modals/editListValueModal %>
  <% include modals/addKeyModal %>
  <% include modals/editHashFieldModal %>
  <% include modals/signinModal %>
</body>
</html>
